<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>문의하기 | MOJIMOJI</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/vendor/normalize.css">
    <link rel="stylesheet" href="../assets/css/vendor/aos.min.css">
    <link rel="stylesheet" href="../assets/css/fonts.css">
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/layout.css">
    <link rel="stylesheet" href="../assets/css/sub.css">
    <link rel="stylesheet" href="../assets/css/ui.css">
</head>
<body>
    <!-- #header -->
    <header id="header">
        <div class="container-xl h-100">
            <div class="header-container d-flex h-100 justify-content-between align-items-center">
                <!-- .logo -->
                <h1 class="logo"><a lang="en" href="/">mojimoji</a></h1>
                <!-- .logo -->

                <!-- .navbar-group -->
                <div class="navbar-group">
                    <!-- .gnb -->
                    <nav class="gnb">
                        <ul role="navigation" lang="en" aria-label="상단 메뉴">
                            <li><a href="/">모지모지</a></li>
                            <li><a href="/pages/about.html">서비스 소개</a></li>
                            <li><a class="active" href="/pages/contact.html">문의하기</a></li>
                        </ul>
                    </nav>
                    <!-- .gnb -->

                    <!-- .sidemenu -->
                    <div class="sidemenu" lang="en">
                        <a class="darken" href="/pages/login.html">로그인</a>
                        <a href="/pages/join.html">회원가입</a>
                    </div>
                    <!-- .sidemenu -->
                </div>
                <!-- .navbar-group -->
            </div>
        </div>
    </header>
    <!-- #header -->

    <!-- #container -->
    <main id="container" role="main">
        <!-- .contact -->
        <section class="section contact">
            <div class="container-xl">
                <!-- .contact-wrapper -->
                <div class="contact-wrapper">
                    <form name="frmcontact" id="frmcontact" method="post">
                        <!-- .section-header -->
                        <div class="section-header">
                            <h2 class="mb-4">궁금한 점이 있으신가요? <br>지금 바로 문의하세요!</h2>
                            <p>부담 없이 문의 주세요. <br>모지모지 담당자가 확인 후 답변드립니다.</p>
                        </div>
                        <!-- .section-header -->

                        <!-- .form-group -->
                        <div class="form-group">
                            <input type="text" name="name" id="name" class="form--control" placeholder="이름">
                        </div>
                        <!-- .form-group -->

                        <!-- .form-group -->
                        <div class="form-group">
                            <input type="email" name="email" id="email" class="form--control" placeholder="이메일">
                        </div>
                        <!-- .form-group -->

                        <!-- .form-group -->
                        <div class="form-group">
                            <input type="tel" name="hp" id="hp" class="form--control" placeholder="휴대폰 번호">
                        </div>
                        <!-- .form-group -->

                        <!-- .form-group -->
                        <div class="form-group">
                            <textarea name="content" id="content" rows="6" class="form--control" placeholder="문의 내용"></textarea>
                        </div>
                        <!-- .form-group -->

                        <!-- .form-group -->
                        <div class="form-group mb-5">
                            <div class="check-item-group">
                                <div class="custom-check-wrapper">
                                    <label>
                                        <input type="checkbox" class="custom-check" name="check_agree" id="check_agree">
                                        <span>개인정보처리방침 동의</span>
                                    </label>
                                </div>
                                <a href="javascript:void(0)" class="view-terms" role="button" data-toggle="modal" data-target="#privacyTermsModal">[보기]</a>
                            </div>
                        </div>
                        <!-- .form-group -->

                        <!-- .form-group -->
                        <div class="form-group">
                            <button type="submit" class="button button--primary w-100">문의하기</button>
                        </div>
                        <!-- .form-group -->
                    </form>
                </div>
                <!-- .contact-wrapper -->
            </div>
        </section>
        <!-- .contact -->
    </main>
    <!-- #container -->

    <!-- #footer -->
    <footer id="footer">
        <div class="container-xl">
            <!-- .footer-menu -->
            <ul class="footer-menu">
                <li><a href="#none">이용약관</a></li>
                <li><a class="bold-link" href="#none">개인정보처리방침</a></li>
            </ul>
            <!-- .footer-menu -->

            <!-- .cs-info -->
            <p class="cs-info"><strong>고객상담 1588-0000</strong><span>(평일 오전 9시 ~ 오후 6시)</span></p>
            <!-- .cs-info -->

            <!-- .footer-info -->
            <address class="footer-info">대표 김윤호 <em class="divider">|</em> 서울특별시 서초구 동작대로 132 안석빌딩 9층 <em class="divider">|</em> 대표전화 1588-0000 <br>mojimoji@mojimoji.com</address>
            <!-- .footer-info -->

            <!-- .footer-copyright -->
            <p class="footer-copyright">HappyVirus All Rights reserved.</p>
            <!-- .footer-copyright -->
        </div>
    </footer>
    <!-- #footer -->

    <!-- #privacyTermsModal -->
    <div class="modal fade" id="privacyTermsModal" tabindex="-1" role="dialog" aria-labelledby="privacyModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="privacyModalLabel">개인정보처리방침</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <p>개인정보처리방침입니다.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, quae.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus architecto ipsam blanditiis excepturi labore beatae velit distinctio quisquam eligendi vitae porro fuga, in saepe quo similique eius quas assumenda fugit?</p>
                </div>
            </div>
        </div>
    </div>
    <!-- #privacyTermsModal -->

    <script src="../assets/js/vendor/jquery-3.4.1.min.js"></script>
    <script src="../assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>    
    <script src="../assets/js/vendor/aos.min.js"></script>
    <script src="../assets/js/vendor/jquery.validate.min.js"></script>
    <script src="../assets/js/vendor/sweetalert2.all.min.js"></script>
    <script src="../assets/js/common.js"></script>
    <script src="../assets/js/sub.js"></script>
</body>
</html>