@charset "utf-8";
/* *********************************************
 * Common
 ******************************************** */
.section .section-header .point-heading {font-size: 24px; font-weight: 700; color: #2e8bff; margin-bottom: 16px}
.section .section-header h2 {font-size: 36px; font-weight: 700; color: #000; line-height: 1.3}
.section .section-header p {font-size: 20px; font-weight: 600; color: #495057; line-height: 1.48}

/* *********************************************
 * Contact
 ******************************************** */
.contact {padding-top: 200px; padding-bottom: 200px}
.contact .contact-wrapper {max-width: 400px; margin: auto}
.contact .section-header {margin-bottom: 100px}
.contact .check-item-group {display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between}
.contact .check-item-group .view-terms {font-size: 14px; font-weight: 500; color: #666; text-decoration: underline !important}
.contact .check-item-group .view-terms:hover {color: #212529}
.contact .col-card-item .contact-card {display: flex; height: 100%; min-height: 240px; padding: 0 48px; flex-wrap: wrap; align-items: center; border: 1px solid #dee2e6; border-radius: 16px}
.contact .col-card-item .contact-card .icon {display: inline-flex; width: 100px; font-size: 90px; align-items: center; justify-content: center}
.contact .col-card-item:nth-child(1) .icon {color: #ffc32c}
.contact .col-card-item:nth-child(2) .icon {color: #495057}
.contact .col-card-item .contact-card .info {flex-basis: 0; flex-grow: 1; max-width: calc(100% - 100px); padding-left: 32px}
.contact .col-card-item .contact-card .info h4 {font-size: 30px; font-weight: 700; color: #000; margin-bottom: 16px}
.contact .col-card-item .contact-card .info p {font-size: 20px; font-weight: 600; color: #495057; line-height: 1.5}

/* *********************************************
 * Service
 ******************************************** */
.service {padding-top: 160px; padding-bottom: 200px}
.service .upload-area-wrapper {padding: 60px 48px; border-radius: 24px; background-color: #f7f8f9}
.service .upload-area-wrapper h3 {font-size: 24px; font-weight: 700; color: #000; margin-bottom: 24px}
.service .upload-area-wrapper .draggable-zone {display: flex; height: 500px; padding: 0 24px; text-align: center; border: 2px dashed #ced7e6; border-radius: 20px; align-items: center}
.service .upload-area-wrapper .draggable-zone .inner-content {width: 100%}
.service .upload-area-wrapper .draggable-zone.active {border-color: #aaa; background-color: #fff}
.service .upload-area-wrapper .draggable-zone .icon {font-size: 56px; color: #2e8bff; margin-bottom: 12px}
.service .upload-area-wrapper .draggable-zone h4 {font-size: 22px; font-weight: 600; color: #222; margin-bottom: 16px}
.service .upload-area-wrapper .draggable-zone h4::after {content: '또는'; display: block}
.service .upload-area-wrapper .draggable-zone p {font-size: 15px; font-weight: 500; color: #666}
.service .upload-area-wrapper .draggable-zone img {display: block; width: 100%; height: 100%; object-fit: cover}
.service .info-list li {position: relative; font-weight: 600; color: #666; line-height: 1.8; padding-left: 12px}
.service .info-list li::before {content: ''; position: absolute; top: 12px; left: 0; width: 3px; height: 3px; border-radius: 50%; background-color: #ccc}
.service .submit-button {padding-top: 64px; text-align: center}

.result {padding-top: 160px; padding-bottom: 140px}
.result .search-result .col-item {margin-bottom: 60px}
.result .search-result .col-item a {display: block}
.result .search-result .col-item figure {margin-bottom: 20px; border-radius: 16px; overflow: hidden}
.result .search-result .col-item figure img {display: block; width: 100%}
.result .search-result .col-item h4 {font-size: 18px; font-weight: 600; color: #212529; letter-spacing: -0.02em}

/* *********************************************
 * Membership
 ******************************************** */
.member-service {padding-top: 100px; padding-bottom: 160px}
.member-service .form-wrapper {max-width: 440px; margin: auto; padding: 64px 42px; border: 1px solid #e5e5e5; border-radius: 16px}
.member-service .form-wrapper .form-header {margin-bottom: 60px}
.member-service .form-wrapper .form-header .logo {font-size: 20px; font-weight: 800; color: #000; margin-bottom: 16px; user-select: none; pointer-events: none}
.member-service .form-wrapper .form-header h2 {font-size: 24px; font-weight: 600; color: #000; line-height: 1.24}
.member-service .form-wrapper .find-password {font-size: 15px; font-weight: 500; color: #666}
.member-service .form-wrapper .home-link > a {font-size: 15px; color: #666; text-decoration: underline !important}
.member-service .form-wrapper .check-item-group {display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between}
.member-service .form-wrapper .check-item-group.all-check {padding-bottom: 10px; border-bottom: 1px solid #eaeaea}
.member-service .form-wrapper .check-item-group + .check-item-group {margin-top: 10px}
.member-service .form-wrapper .check-item-group .view-terms {font-size: 14px; font-weight: 500; color: #666; text-decoration: underline !important}
.member-service .form-wrapper .check-item-group .view-terms:hover {color: #212529}

/* *********************************************
 * Media query
 ******************************************** */
@media (max-width: 991px) {
    .contact .col-card-item .contact-card {min-height: 200px; padding: 0 32px}
    .contact .col-card-item .contact-card .icon {width: 80px; font-size: 68px}
    .contact .col-card-item .contact-card .info {max-width: calc(100% - 80px)}
    .contact .col-card-item .contact-card .info h4 {font-size: 24px}
    .contact .col-card-item .contact-card .info p {font-size: 18px}
}

@media (max-width: 767px) {
    .section .section-header .point-heading {font-size: 17px; margin-bottom: 12px}
    .section .section-header h2 {font-size: 28px}

    .service {padding-top: 120px; padding-bottom: 100px}
    .service .upload-area-wrapper {padding: 32px 28px}
    .service .upload-area-wrapper h3 {font-size: 19px}
    .service .upload-area-wrapper .draggable-zone {height: 300px}
    .service .upload-area-wrapper .draggable-zone .icon {font-size: 42px}
    .service .upload-area-wrapper .draggable-zone h4 {font-size: 18px}
    .service .upload-area-wrapper .draggable-zone p {font-size: 14px}
    .service .info-list li {font-size: 14px}
    .service .submit-button {padding-top: 50px}

    .contact {padding-top: 120px; padding-bottom: 100px}
    .contact .section-header {margin-bottom: 50px}
    .contact .col-card-item + .col-card-item {margin-top: 24px}
    .contact .col-card-item .contact-card {min-height: 0; padding: 36px 24px}
    .contact .col-card-item .contact-card .icon {width: 64px; font-size: 48px}
    .contact .col-card-item .contact-card .info {max-width: calc(100% - 64px); padding-left: 16px}
    .contact .col-card-item .contact-card .info h4 {font-size: 21px; margin-bottom: 8px}
    .contact .col-card-item .contact-card .info p {font-size: 16px}

    .member-service .form-wrapper {padding: 48px 32px}
    .member-service .form-wrapper .form-header {margin-bottom: 48px}
    .member-service .form-wrapper .form-header h2 {font-size: 21px}
}