<header class="mt-4">
    <form action="{% url 'create_posting'%}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div class="form-row align-items-center">
        <!-- {% comment %} icon select tag {% endcomment %}
            <div class="col-auto my-1">
                <label for="icon" class="sr-only">icon</label>
                <select name="icon" id="icon" class="custom-select mr-sm-2">
                    <option value="fas fa-question">?</option>
                    <option value="far fa-smile">:)</option>
                    <option value="far fa-angry">:(</option>
                    <option value="far fa-smile-wink">;)</option>
                    <option value="fab fa-angrycreative">flex</option>
                </select>

            </div> -->
        
            {% comment %} content input tag {% endcomment %}
             <div class="col-sm-6 my-1" >
                <label for="content" class="sr-only">content</label>
                <input id="content" type="text" name='content' class="form-control" placeholder="당신의 셀럽의 대해 간단하게 작성해주세요 :)">
            </div>

            {% comment %} image file input {% endcomment %}
            <div class="col-sm-4 my-1 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Upload</span>
                </div>

                <div class="custom-file">
                    <input id="image" class="custom-file-input" name="image" type="file" accept="image/*">
                    <label for="image" class="custom-file-label">Choose image</label>
                </div>
            </div>

            {% comment %} submit 버튼 {% endcomment %}
            <div class="col-auto my-1">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
         </div>   
        
    </form>
</header>
