@charset "utf-8";
/* *********************************************
 * Header
 ******************************************** */
#header {position: fixed; top: 0; left: 0; right: 0; height: 80px; border-bottom: 1px solid transparent; background-color: #fff; z-index: 900; transition: border-color .15s, background-color .15s, box-shadow .15s}
#header .logo {font-size: 20px; font-weight: 800; color: #000; user-select: none}
#header .logo a {color: inherit}
#header .navbar-group {display: flex; flex-wrap: wrap; align-items: center}
#header .gnb {display: inline-flex}
#header .gnb > ul > li {display: inline-flex}
#header .gnb > ul > li + li {margin-left: 40px}
#header .gnb > ul > li > a {display: inline-block; font-size: 17px; font-weight: 600; color: #666}
#header .gnb > ul > li > a.active {font-weight: 700; color: #000}
#header .sidemenu {font-size: 0; margin-left: 100px !important}
#header .sidemenu > a {display: inline-block !important; font-size: 16px; font-weight: 500; color: #888}
#header .sidemenu > a.darken {color: #333}
#header .sidemenu > a + a::before {content: ''; display: inline-block; width: 1px; height: 14px; margin: 0 16px; background-color: #ccc; vertical-align: -1px}
#header.sticky {background-color: rgba(255,255,255,.92); box-shadow: 0 0 6px rgba(0,0,0,.08); backdrop-filter: blur(6px); -webkit-backdrop-filter: blur(6px)}
body:not(.main) #header {border-color: #eaeaea}

/* *********************************************
 * Container
 ******************************************** */
#container {overflow-x: hidden}

/* *********************************************
 * Footer
 ******************************************** */
#footer {padding-top: 48px; padding-bottom: 80px; background-color: #22262f}
#footer .footer-menu {margin-bottom: 16px}
#footer .footer-menu li {display: inline-flex; margin-right: 32px}
#footer .footer-menu li a {font-size: 15px; color: #99a0af}
#footer .footer-menu li a.bold-link {font-weight: 700}
#footer .cs-info {font-size: 15px; color: #687184; margin-bottom: 36px}
#footer .cs-info strong {font-weight: 700; color: #99a0af}
#footer .cs-info span {margin-left: 20px}
#footer .footer-info {font-size: 14px; color: #687184; line-height: 1.8; margin-bottom: 24px}
#footer .footer-info .divider {font-style: normal; margin: 0 6px; opacity: .48}
#footer .footer-copyright {font-size: 14px; color: #687184}

/* *********************************************
 * Media query
 ******************************************** */
@media (min-width: 768px) {
    #header .hamburger-button {display: none}
}

@media (max-width: 767px) {
    html.scroll--prevent {overflow-y: hidden}
    #header {height: 56px}
    #header .navbar-group {position: fixed; top: 200vh; left: 0; right: 0; height: calc(100vh - 56px); opacity: 0; visibility: hidden; align-items: flex-start; background-color: rgba(0,0,0,.6); backdrop-filter: blur(6px); -webkit-backdrop-filter: blur(6px); transition: opacity .3s .3s, top 0s .6s, visibility 0s .6s; z-index: 100}
    #header .navbar-group .gnb {display: block; width: 100%; height: 0; background-color: #fff; transition: height .3s 0s, padding .3s 0s; overflow: hidden}
    #header .gnb > ul {height: 100%}
    #header .gnb > ul > li {display: block}
    #header .gnb > ul > li + li {margin-left: 0; border-top: 1px solid #eaeaea}
    #header .gnb > ul > li > a {display: block; padding: 24px}
    #header .sidemenu {margin-left: 0 !important; padding: 24px}
    #header .sidemenu > a {font-size: 15px !important; padding: 0 !important}
    #header .sidemenu > a.darken {color: #333}
    #header .sidemenu > a + a::before {margin: 0 12px}
    #header .hamburger-button {position: relative; width: 32px; height: 32px; padding: 0; border: 0; background-color: transparent; outline: 0 !important}
    #header .hamburger-button > .line {position: absolute; top: 50%; left: 50%; display: block; width: 20px; height: 2px; margin: -1px 0 0 -10px; background-color: #000; transition: background-color .3s 0s}
    #header .hamburger-button > .line::before, #header .hamburger-button > .line::after {content: ''; position: absolute; display: block; width: 100%; height: 2px; background-color: #000}
    #header .hamburger-button > .line::before {top: -6px; transition: top .3s .5s, transform .2s 0s}
    #header .hamburger-button > .line::after {bottom: -6px; transition: bottom .3s .5s, transform .2s 0s}
    #header.mobile-gnb--open .navbar-group {top: 56px; opacity: 1; visibility: visible; transition-delay: 0s}
    #header.mobile-gnb--open .navbar-group .gnb {height: 100%; padding: 16px 0 24px; transition-delay: .3s}
    #header.mobile-gnb--open .hamburger-button > .line {background-color: transparent}
    #header.mobile-gnb--open .hamburger-button > .line::before, #header.mobile-gnb--open .hamburger-button > .line::after {transition-delay: 0s, .3s}
    #header.mobile-gnb--open .hamburger-button > .line::before {top: 0; transform: rotate(45deg)}
    #header.mobile-gnb--open .hamburger-button > .line::after {bottom: 0; transform: rotate(-45deg)}

    #footer .footer-menu li {margin-right: 20px}
    #footer .cs-info {font-size: 14px; margin-bottom: 20px}
    #footer .cs-info span {margin-left: 16px}
    #footer .footer-info {}
}