@charset "utf-8";
/* *********************************************
 * Hero
 ******************************************** */
.hero { background-image: url(../images/main/hero_bg.jpg)}
.hero .hero-text {text-align: center; padding-top: 300px}
.hero .hero-text h1 {font-size: 56px; font-weight: 700; color: #000; line-height: 68px}
.hero .hero-text h1 span {font-size: 0.9em; font-weight: 700; letter-spacing: 0.05em}
.hero .hero-text h1 strong {font-size: 1.125em; font-weight: 800; letter-spacing: 0.03em}
.hero .sns-link {margin-top: 30px}
.hero .sns-link a {display: inline-flex; width: 48px; height: 48px; margin: 0 6px; font-size: 20px; color: #fff; line-height: 1; border-radius: 50%; background-color: rgba(0,0,0,.28); align-items: center; justify-content: center; transition: background-color .2s}
.hero .sns-link a:hover {background-color: rgba(0,0,0,.48)}

/* *********************************************
 * Common
 ******************************************** */
.section .section-header h2 {font-size: 40px; font-weight: 700; color: #000; line-height: 1.3}
.section .section-header p {font-size: 22px; font-weight: 600; color: #495057; line-height: 1.48}

/* *********************************************
 * Upload
 ******************************************** */
.upload {padding-top: 240px; padding-bottom: 240px; text-align: center}
.upload h2 {font-size: 32px; font-weight: 700; color: #000; line-height: 1.5; margin-bottom: 48px}
.upload .flow-img-list {display: flex; width: 5280px; margin-top: 110px; animation: flow-img-animation 40s linear infinite}
.upload .flow-img-list li {display: inline-flex; margin-right: 40px}
.upload .flow-img-list li img {width: 400px; height: 400px; border-radius: 40px}
@keyframes flow-img-animation {
    0% {transform: translateX(0)}
    100% {transform: translateX(-2640px)}
}

/* *********************************************
 * About
 ******************************************** */
.about {padding-top: 200px; padding-bottom: 100px; background-color: #f8f9fa}
.about .section-header {margin-bottom: 80px}
.about .col-item {margin-bottom: 100px}
.about .col-item figure {margin-bottom: 28px}
.about .col-item figure img {display: block; width: 100%}
.about .col-item .icon {display: flex; width: 120px; height: 120px; font-size: 56px; margin-bottom: 32px; border-radius: 24px; align-items: center; justify-content: center}
.about .col-item:nth-child(1) .icon {color: #5c7cfa; background-color: #dbe4ff}
.about .col-item:nth-child(2) .icon {color: #fab005; background-color: #ffec99}
.about .col-item:nth-child(3) .icon {color: #40c057; background-color: #d3f9d8}
.about .col-item:nth-child(4) .icon {color: #fa5252; background-color: #ffe3e3}
.about .col-item h4 {font-size: 24px; font-weight: 700; color: #212529; margin-bottom: 12px}
.about .col-item p {font-size: 20px; font-weight: 600; color: #666; line-height: 1.46}

/* *********************************************
 * Detail
 ******************************************** */
.detail {padding-top: 160px; padding-bottom: 200px}
.detail .col-item h4 {font-size: 24px; font-weight: 600; color: #000; margin-bottom: 12px}
.detail .col-item p {font-size: 18px; font-weight: 500; color: #666; line-height: 1.6; margin-bottom: 32px}

/* *********************************************
 * Media query
 ******************************************** */
@media (max-width: 767px) {
    .section .section-header h2 {font-size: 28px}
    .section .section-header p {font-size: 17px}

    .hero {background-image: url(../images/main/hero_bg_m.jpg)}
    .hero .hero-text h1 {font-size: 32px; line-height: 40px}
    .upload {padding-top: 80px; padding-bottom: 80px}
    .upload h2 {font-size: 24px; line-height: 1.38; margin-bottom: 32px}
    .upload .flow-img-list {width: 3360px; margin-top: 80px}
    .upload .flow-img-list li {margin-right: 20px}
    .upload .flow-img-list li img {width: 260px; height: 260px}

    @keyframes flow-img-animation {
        0% {transform: translateX(0)}
        100% {transform: translateX(-1680px)}
    }

    .about {padding-top: 80px; padding-bottom: 40px}
    .about .section-header {margin-bottom: 50px}
    .about .col-item {margin-bottom: 48px}
    .about .col-item .icon {width: 80px; height: 80px; font-size: 42px; margin-bottom: 24px; border-radius: 20px}
    .about .col-item h4 {font-size: 19px}
    .about .col-item p {font-size: 16px}
    
    .detail {padding-top: 50px; padding-bottom: 80px}
    .detail .col-item h4 {font-size: 19px}
    .detail .col-item p {font-size: 16px; margin-bottom: 24px}
}

@media (max-width: 575px) {
    .detail .col-item {position: relative; padding-top: 32px; padding-bottom: 32px}
    .detail .col-item + .col-item::before {content: ''; position: absolute; display: block; top: 0; left: -9px; right: -9px; border-top: 1px solid #eaeaea}
}