{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>사진 업로드 | HappyVirus</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/sub.css' %}">
    <link rel="stylesheet" href="{% static 'css/ui.css' %}">



</head>
<body>
    <!-- #네비게이션 바 -->
    {% include "navbar.html" %}
    <!-- #네비게이션 바 -->

   <!-- #container -->
   <main id="container" role="main">
    <!-- .service -->
    <section class="section service">
        <div class="container-xl">
            <form action="service" method="post" enctype="multipart/form-data" style="margin-top: 50px;">
                <!-- .upload-area-wrapper -->
                <div class="upload-area-wrapper">
                    <h3>파일을 업로드해 주세요</h3>
                    <!-- .draggable-zone -->
                    <div class="draggable-zone">
                        <div class="inner-content">
                            <div class="icon">
                                <i class="bi bi-images"></i>
                            </div>  
                            
                                {% csrf_token %}
                                {{ form.as_p }}
                                <!-- <button type="submit" class="btn btn-lg btn-success">Uplaod</button> -->
                        
                          
                            <input type="file" name="photo" id="photo" hidden>
                            <p class="mt-4">지원되는 파일 : JPEG, JPG, PNG</p>
                        </div>
                    </div>
                    <!-- .draggable-zone -->
                </div>
                <!-- .upload-area-wrapper -->

                <!-- .info-list -->
                <ul class="info-list mt-4">
                    <li>최대 업로드 가능한 사진 용량은 5MB 입니다.</li>
                    <li>실제 사진이 아닌 그림 유형 혹은 인식이 불가능한 사진 등은 정확한 결과가 나오지 않아요.</li>
                </ul>
                <!-- .info-list -->

                <!-- .submit-button -->
                <div class="submit-button">
                    <button type="submit" class="btn btn--lg px-5 btn-success">Upload</button>
                </div>
                <!-- .submit-button -->
            </form>
        </div>
    </section>
    <!-- .service -->
</main>
<!-- #container -->


    <!-- #footer -->
    {% include "footer.html" %}
    <!-- #footer -->

    <script src="/static/js/vendor/jquery-3.4.1.min.js"></script>
    <script src="/static/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/static/js/vendor/aos.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/static/js/common.js"></script>

</body>
</html>