@charset "UTF-8";
*{margin: 0; padding: 0;}

/* 화면에 너무 붙어 있어서 */
body{
	padding: 30px;
	/* background-color: #f3f1e9;*/
	background-color: white;
}

/*header 영역 */
header{padding: 5px; text-align: center;}
header a{text-decoration: none; color: #333333;}

/* nav 영역 */
nav{margin-top: 10px; margin-bottom: 20px;}

nav ul{
	list-style: none;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;
}

nav ul li{
	display: inline;
	letter-spacing: .3em;
	margin-left: 2em;
}

nav ul li a{
	text-decoration: none;
	color: black;
	line-height: 3em;
	text-transform: uppercase;
}

nav ul li a:hover{text-decoration: underline;}

/*왼쪽사이드메뉴*/
aside#left{
	float: left;
	width: 10em;
	margin-right: 1em;
}

aside#left ul{list-style: none}

aside#left ul li{
	background-color: #E5E5E5;
	padding: 5px 10px;
	border: 1px outset white;
}

/*항목 글자색*/
aside#left ul li a{
	color: black;
	text-decoration: none;
}

/*항목에 마우스가 닿았을 때 색깔지정*/
aside#left ul li:hover{
	background-color: #BCBCBC;
}

aside#main{
	float: left;
}
/*가운데 본문 영역*/
section#main{
	float: left;
}

/*오른쪽사이드메뉴*/
aside#right{
	float: right;
	padding: 10px;
	width:12em;
}

aside#right #login input{
	margin-bottom: 5px;
}

/*footer영역*/
footer{
	clear: both;
	background-color: #333333;
	color: white;
	text-align: center;
	padding: 1em 0px;
}