{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>컬렉션 | HappyVirus</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/vendor/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/vendor/normalize.css">
    <link rel="stylesheet" href="/static/css/vendor/aos.min.css">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/sub.css">
    <link rel="stylesheet" href="/static/css/ui.css">

</head>
<body>
    <!-- #네비게이션 바 -->
    {% include "navbar.html" %}
    <!-- #네비게이션 바 -->
    
    <br><br><br><br>컬렉션 페이지 입니다!!!<br><br><br><br><br>

    <!-- #footer -->
    {% include "footer.html" %}
    <!-- #footer -->

    <script src="/static/js/vendor/jquery-3.4.1.min.js"></script>
    <script src="/static/js/vendor/bootstrap.bundle.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>    
    <script src="/static/js/vendor/aos.min.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/sub.js"></script>
</body>
</html>