<!-- #header -->
<header id="header">
    <div class="container-xl h-100">
        <div class="header-container d-flex h-100 justify-content-between align-items-center">
            <!-- .logo -->
            <h1 class="logo">
                <a lang="en" href="{% url 'index' %}">바이팬</a>
            </h1>
            <!-- .logo -->

            <!-- .navbar-group -->
            <div class="navbar-group">
                <!-- .gnb -->
                <nav class="gnb">
                    <ul role="navigation" lang="en" aria-label="상단 메뉴">
                        <li class="nav-item droopdown"><a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">마이페이지</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'mypage' %}">내 정보</a>
                                <a class="dropdown-item" href="{% url 'upload' %}">사진 업로드</a>
                                <a class="dropdown-item" href="{% url 'collection' %}">컬렉션</a>
                                <a class="dropdown-item" href="{% url 'upload_list' %}">업로드 현황</a>
                            </div>
                        </li>
                       
                        <li><a href="{% url 'service' %}">검색</a></li>
                        <li><a href="{% url 'contact' %}">문의하기</a></li>

                        <li class="sidemenu" lang="en">
                            <a class="darken" href="{% url 'login' %}">로그인</a>
                            <a href="{% url 'join' %}" >회원가입</a>
                        </li>
                    </ul>
                </nav>
                <!-- .gnb -->
            </div>
            <!-- .navbar-group -->

            <!-- .hamburger-button -->
            <button type="button" class="hamburger-button">
                <span class="sr-only">메뉴 열기</span>
                <span class="line"></span>
            </button>
            <!-- .hamburger-button -->
        </div>
    </div>
</header>
<!-- #header -->