<!-- #footer -->
<footer id="footer">
    <div class="container-xl">
        <!-- .footer-menu -->
        <ul class="footer-menu">
            <li><a href="#none">이용약관</a></li>
            <li><a class="bold-link" href="#none">개인정보처리방침</a></li>
        </ul>
        <!-- .footer-menu -->

        <!-- .cs-info -->
        <p class="cs-info"><strong>고객상담 1588-0000</strong><span>(평일 오전 9시 ~ 오후 6시)</span></p>
        <!-- .cs-info -->

        <!-- .footer-info -->
        <address class="footer-info">대표 김윤호 <em class="divider d-none d-sm-inline-block">|</em> <br class="d-sm-none">서울특별시 서초구 동작대로 132 안석빌딩 9층 <em class="divider d-none d-sm-inline-block">|</em> <br class="d-sm-none">대표전화 1588-0000 <br>cs@mojimoji.com</address>
        <!-- .footer-info -->

        <!-- .footer-copyright -->
        <p class="footer-copyright">HappyVirus All Rights reserved.</p>
        <!-- .footer-copyright -->
    </div>
</footer>
<!-- #footer -->