{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입 | HappyVirus</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/happyvirus/myapp/templates/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/happyvirus/myapp/templates/assets/css/vendor/bootstrap-icons.css">
    <link rel="stylesheet" href="/happyvirus/myapp/templates/assets/css/vendor/normalize.css">
    <link rel="stylesheet" href="/happyvirus/myapp/templates/assets/css/fonts.css">
    <link rel="stylesheet" href="/happyvirus/myapp/templates/assets/css/reset.css">
    <link rel="stylesheet" href="/happyvirus/myapp/templates/assets/css/layout.css">
    <link rel="stylesheet" href="/happyvirus/myapp/templates/assets/css/sub.css">
    <link rel="stylesheet" href="/happyvirus/myapp/templates/assets/css/ui.css">
</head>
<body>
    <!-- #container -->
    <main id="container" role="main">
        <!-- .member-service -->
        <section class="member-service">
            <div class="container-xl">
                <!-- .form-wrapper -->
                <div class="form-wrapper">
                    <form name="frmjoin" id="frmjoin" method="post" autocomplete="off">
                        <!-- .form-header -->
                        <div class="form-header">
                            <h1 class="logo" lang="en">바이팬</h1>
                            <h2>원하는 연예인의 사진을 찾을 땐, <br>역시 바이팬에서.</h2>
                        </div>
                        <!-- .form-header -->

                        <!-- .form-group -->
                        <div class="form-group">
                            <input type="text" class="form--control" name="user_name" id="user_name" placeholder="이름">
                        </div>
                        <!-- .form-group -->

                        <!-- .form-group -->
                        <div class="form-group">
                            <input type="text" class="form--control" name="user_id" id="user_id" placeholder="아이디">
                        </div>
                        <!-- .form-group -->

                        <!-- .form-group -->
                        <div class="form-group">
                            <input type="password" class="form--control" name="user_pw" id="user_pw" placeholder="비밀번호">
                        </div>
                        <!-- .form-group -->

                        <!-- .form-group -->
                        <div class="form-group">
                            <input type="password" class="form--control" name="user_pw_confirm" id="user_pw_confirm" placeholder="비밀번호 재확인">
                        </div>
                        <!-- .form-group -->

                        <!-- .form-group -->
                        <div class="form-group mb-4">
                            <input type="email" class="form--control" name="user_email" id="user_email" placeholder="이메일">
                        </div>
                        <!-- .form-group -->

                        <!-- .form-group -->
                        <div class="form-group mb-5">
                            <!-- .check-item-group -->
                            <div class="check-item-group all-check">
                                <div class="custom-check-wrapper">
                                    <label>
                                        <input type="checkbox" class="custom-check" name="check_all" id="check_all" value="Y">
                                        <span>약관 전체 동의</span>
                                    </label>
                                </div>
                            </div>
                            <!-- .check-item-group -->

                            <!-- .check-item-group -->
                            <div class="check-item-group">
                                <div class="custom-check-wrapper">
                                    <label>
                                        <input type="checkbox" class="custom-check" name="agree_1" id="agree_1" value="Y">
                                        <span>이용약관 동의</span>
                                    </label>
                                </div>

                                <a href="javascript:void(0)" class="view-terms" role="button" data-toggle="modal" data-target="#useTermsModal">[보기]</a>
                            </div>
                            <!-- .check-item-group -->

                            <!-- .check-item-group -->
                            <div class="check-item-group">
                                <div class="custom-check-wrapper">
                                    <label>
                                        <input type="checkbox" class="custom-check" name="agree_2" id="agree_2" value="Y">
                                        <span>개인정보처리방침 동의</span>
                                    </label>
                                </div>

                                <a href="javascript:void(0)" class="view-terms" role="button" data-toggle="modal" data-target="#privacyTermsModal">[보기]</a>
                            </div>
                            <!-- .check-item-group -->
                        </div>
                        <!-- .form-group -->

                        <!-- .form-group -->
                        <div class="form-group">
                            <button type="submit" class="button button--primary w-100">회원가입</button>
                        </div>
                        <!-- .form-group -->

                        <!-- .form-group -->
                        <div class="form-group">
                            <a href="/happyvirus/myapp/templates/pages/login.html" class="button button--grey w-100">로그인</a>
                        </div>
                        <!-- .form-group -->

                        <!-- .error-container -->
                        <div class="error-container"></div>
                        <!-- .error-container -->

                        <!-- .home-link -->
                        <div class="home-link pt-4">
                            <a href="/happyvirus/myapp/templates/index.html">메인으로 돌아가기</a>
                        </div>
                        <!-- .home-link -->
                    </form>
                </div>
                <!-- .form-wrapper -->
            </div>
        </section>
        <!-- .member-service -->
    </main>
    <!-- #container -->

    <!-- #useTermsModal -->
    <div class="modal fade" id="useTermsModal" tabindex="-1" role="dialog" aria-labelledby="useTermsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="useTermsModalLabel">이용약관</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <p>이용약관입니다.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, quae.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus architecto ipsam blanditiis excepturi labore beatae velit distinctio quisquam eligendi vitae porro fuga, in saepe quo similique eius quas assumenda fugit?</p>
                </div>
            </div>
        </div>
    </div>
    <!-- #useTermsModal -->

    <!-- #privacyTermsModal -->
    <div class="modal fade" id="privacyTermsModal" tabindex="-1" role="dialog" aria-labelledby="privacyModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="privacyModalLabel">개인정보처리방침</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <p>개인정보처리방침입니다.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, quae.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus architecto ipsam blanditiis excepturi labore beatae velit distinctio quisquam eligendi vitae porro fuga, in saepe quo similique eius quas assumenda fugit?</p>
                </div>
            </div>
        </div>
    </div>
    <!-- #privacyTermsModal -->

    <script src="/happyvirus/myapp/templates/assets/js/vendor/jquery-3.4.1.min.js"></script>
    <script src="/happyvirus/myapp/templates/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>    
    <script src="{% '/js/vendor/jquery.validate.min.js' %"}></script>
    <script src="{% '/js/common.js' %}"></script>

    <script>
        jQuery(function() {
            // 변수(상수) 선언
            const Form = $('#frmjoin');
            const checkAll = $('#check_all');
            const checkItems = $('input[name^=agree_]');
            const totalCheckItems = checkItems.length;

            // 약관 전체동의 체크박스
            checkAll.on('click', function() {
                if ( $(this).is(':checked') ) {
                    checkItems.prop('checked', true);
                } else {
                    checkItems.prop('checked', false);
                }
            });

            // 각 약관 체크시 전체동의 체크박스 체크/해제
            checkItems.on('click', function() {
                let checkedCount = $('input[name^=agree_]:checked').length;

                if ( checkedCount == totalCheckItems ) {
                    checkAll.prop('checked', true);
                } else {
                    checkAll.prop('checked', false);
                }
            });

            Form.validate({
                rules: {
                    'user_name': {
                        required: true,
                        minlength: 2
                    },
                    'user_id': {
                        required: true,
                        minlength: 3
                    },
                    'user_pw': {
                        required: true,
                        minlength: 8
                    },
                    'user_pw_confirm': {
                        required: true,
                        minlength: 8,
                        equalTo: '#user_pw'
                    },
                    'user_email': {
                        required: true,
                        email: true
                    }
                },
                messages: {
                    'user_name': {
                        required: '이름을 입력해 주세요.',
                        minlength: '이름은 최소 2글자 이상 입력해 주세요.'
                    },
                    'user_id': {
                        required: '아이디를 입력해 주세요.',
                        minlength: '아이디는 최소 3글자 이상 입력해 주세요.'
                    },
                    'user_pw': {
                        required: '비밀번호를 입력해 주세요.',
                        minlength: '비밀번호는 최소 8글자 이상 입력해 주세요.',
                    },
                    'user_pw_confirm': {
                        required: '비밀번호를 다시 한번 입력해 주세요.',
                        minlength: '비밀번호는 최소 8글자 이상 입력해 주세요.',
                        equalTo: '비밀번호 값이 일치하지 않습니다.'
                    },
                    'user_email': {
                        required: '이메일을 입력해 주세요.',
                        email: '이메일 주소를 올바르게 입력해 주세요.'
                    }
                },
                errorPlacement: function(error, element) {
                    error.appendTo( $('.error-container') );
                },
                submitHandler: function(form) {
                    alert('회원가입 폼 전송');
                }
            });
        });
    </script>
</body>
</html>