{% extends "index.html" %}
{% block content %}
<div class="container my-3">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="mb-3">
            <label for="user_id">사용자ID</label>
            <input type="text" class="form-control" name="user_id" id="user_id"
                   value="{{ form.username.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="user_pw">비밀번호</label>
            <input type="password" class="form-control" name="user_pw" id="user_pw"
                   value="{{ form.password.value|default_if_none:'' }}">
        </div>
        <button type="submit" class="btn btn-primary">로그인</button>
    </form>
</div>
{% endblock %}